
.meals {
  margin-bottom: 1em;
}

.meals-choice {
  position: relative;
  height: 200px;
}

.meals-choice img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 5px;
}

.meals-choice h6 {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  margin-left: 1.5rem;
  color: rgba(11, 11, 11, 0.928);
}

.meals-mind {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding: 0.5rem;
}

.meals-mind button {
  height: 39px;
  max-width: 100%;
  margin-right: 0.5em;
  border: solid 1.5px rgb(241, 237, 30);
  border-radius: 10px;
  background: transparent;
  color: rgb(241, 237, 30);
}

.meals-mind p {
  margin-left: 2px;
  font-weight: bold;
}

@media (min-width: 767px) {
  .meals-mind button {
    width: 10%;
  }
}
