@media (max-width: 767px) {

  .header {
    border: 2px solid black;
    background-image: url(../images/image.webp);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
  }



  .navigation {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
  }

  span {
    width: 60px;
    border-radius: 60%;
    background: rosybrown;
    padding: 0 2px;
    margin-left: 3px;
  }

  span img {
    width: 50px;
    border-radius: 50%;
   margin-left: 4px;
  }
  
.sign-form {
  width: 100%;
  max-width: 300px; /* Set a maximum width for the form */
  height: auto;
  background-color: white;
  border: 1px solid black;
  margin: 30% auto; /* Adjust the top margin to center the form vertically */
  padding: 20px; 
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5% auto;
  padding: 5px;
  width: 100%;
}

input {
  flex: 1;
  border: none;
  padding: 5px;
}


.login {
 display: flex;
 gap: 0.5rem;
 
}

.login button {
  width: 80px;
  height: 35px;
}

.login:nth-child(2) {
  margin-right: 5px;
}

.search-btn {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  height: 40px;
}

}
